{
  "OPEN_ROUTER_API_KEY": "",
  "EMAIL_LINK_CONTINUE_URL": "https://valney-fitness.firebaseapp.com/finishSignIn",
  "EMAIL_LINK_ANDROID_PACKAGE": "br.com.odulab.nice",
  "EMAIL_LINK_IOS_BUNDLE_ID": "br.com.odulab.nice"
}
